.tag {
  display: flex;
  align-items: baseline;
}

.slidecontainer {
    width: 100%;
  }

.slider1 {
  margin:15px;
  -webkit-appearance: none;
  width: 60%;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  height: 15px;
  border-radius: 5px;
}

.slider1:hover {
  opacity: 1;
}

.slider1::-webkit-slider-thumb {
  display: block;
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #fbd558;
  cursor: pointer;
  height: 25px;
  border-radius: 50%;
}

.slider1::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #fbd558;
  cursor: pointer;
  height: 25px;
  border-radius: 50%;
}

 .journal-icon {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;

  }
  
.journal-icons {
  list-style-type: none;
}

input[type="checkbox"]{
  display: none;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.checkcontainer:hover {
  opacity: 0.7;
}
.checkcontainer {
  position: relative;
  width: 50%;
}

.text {
  color: navy;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Montserrat', sans-serif;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

textarea {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.end {
  margin-left: -410px;
}
.sad {
  margin-right: 29px;
}
.calm {
  margin-right: 20px;
}
.poorly {
  margin-right: 12px;
}

@media (max-width: 1200px) {
  .end {
    margin-left: -350px;
  }
}

@media (max-width: 995px) {
  .end {
    margin-left: -250px;
  }
}

@media (max-width: 770px) {
  .end {
    margin-left: -170px;
  }
}

@media (max-width: 500px) {
  .end {
    margin-left: -120px;
  }
}
