.page {
  padding: 20px;
}
.scroll {
  padding-top: 10px;
  display: flex;
  min-width: 100%;
  min-height: 200px;
  max-height: 500px;
  font-family: "Montserrat", sans-serif;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.past-journal {
  background: #fbd558;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 2em;
  color: black;
  border-radius: 1em;
  color: black !important;
}
