html {
  position: relative;
  min-height: 100%;
}

#myFooter {
  background-color: #fbd558;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  align-content: center;
  padding: 3em;
  position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
   
}
